
body {
    background-image: url('../images/fondo3.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(3px);
}
header nav ul li a:hover {
    background-color: rgb(230, 134, 96);
    color: white;   
    margin: 5px 10px;
    padding: 5px 8px;
}
article {
    padding: 20px;
}
.filter {
    background-color: rgba(129, 129, 129, 0.5);
}
#mainBanner {
    text-align: center;
    align-items: center;
}
#mainBanner figcaption {
    font-size: 35px;
    font-weight: bold;
    color: black;
}
#mainBanner h2 {
    border-top: 3px solid rgb(230, 134, 96);
    margin: 0px 250px;
    color: black;

}
.iconos {
    text-decoration: overline;
    font-size: 20px;
    font-weight: bolder;
    align-items: center;
    text-align: center;

}
footer {
    position: fixed;
    width: 100%;
}
footer h2 {
    text-align: center;
    padding: 5px;
    color: black;
}
/*estilos tabla*/
.center {
    margin: auto;
    padding: auto;
}
#table {
    padding: 20px;

}
table {
    border-collapse: collapse;
    width: 50%;
}
th, td {
    text-align: left;
    padding: 8px;
}
td a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
tr {
    background-color: rgb(230, 134, 96);
}
tr:nth-child(even) {
    background-color: rgb(247, 164, 131);
}
th {
    background-color: rgb(185, 87, 48);
    color: white;
}
.info {
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    color: black;
}
h3 {
    font-weight: bold;
}
.hide {
    display: none;
}
.show {
    display: block;
}
.botones {
    color: black;
    background-color: rgb(247, 164, 131);
    padding: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 3px solid rgb(185, 87, 48);
}
.botones:hover {
    background-color: rgb(185, 87, 48);
}


